:root{
  --white:#fff;
  --lightblue: rgb(0, 217, 255);
  --blue: rgba(3, 68, 189, 0.6);
  --yellow: rgb(235, 253, 18);
  --orange:  rgb(255, 145, 0);
}

html, #learnPage {
  height: 100%;
  margin: 0;
}

.content-wrapper {
  min-height: calc(100vh - 100px);;
}

#homepage {
  background-color:var(--blue);
  padding-top: 120px;
}

#navbarParent {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#logo {
  margin: 2%;
  text-align: center;
  align-items: center;
  border: 2px solid;
  border-radius: 1px;
  border-color: var(--blue);
  box-shadow: 4px 4px var(--blue);
  max-width: 250px;
  height: auto;
}

/* #navBar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--yellow);
} */

.navbar-item {
  margin-right: 1em;
  color: var(--blue);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  align-content: center;
}

.navbar-brand{
  background-color: var(--yellow);
}

.navbar-menu{
  background-color: var(--white);
  margin-left: 0;
}

.navbar-start{
  margin-left: 1em;
}

.navbar-dropdown {
  border-top: 4px solid var(--blue);
}
.navbar-dropdown a {
  font-size: small;
}
.navbar-burger{
  align-self: center;
  margin-right: 1em;
}

#startLearn{
  padding: 1px 25px;
  color: var(--blue);
  border: 0.5px solid var(--blue);
  border-radius: 1em;
  box-shadow: 4px 4px var(--blue);
}

#mainBackground {
  margin: 3% 2%;
}

.image {
  border: 10px rgb(255, 145, 0);
  border-style:double;
  border-radius: 20px;
}

.card {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 10px solid rgb(235, 253, 18);
  border-radius: 20px;
  margin: 1% 0;
}

#catGif {
  margin-bottom: 5%;
}

#content-4 {
  margin: 2%;
  margin-bottom: 4%;
  border: 10px solid rgb(235, 253, 18);
  border-radius: 20px;
  text-align: center;
  background-color: var(--white);
}
#content-4 p, #content-5 ul{
  font-size: 16px;
  text-align: left;
}

#content-5{
  margin: 2%;
  margin-bottom: 4%;
  border: 10px solid rgb(235, 253, 18);
  border-radius: 20px;
  text-align: center;
  background-color: var(--white);
}

.strategies{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--white);
  padding: 1%;
  border: 10px double rgb(255, 145, 0);
  border-radius: 20px;
  margin: 2%;
}

#aboutMessage, #resourceMessage{
  font-size: 20px;
}

.footer-text-container {
  position: relative;
  background-color: var(--yellow);
  text-align: center;
}
.footer-img{
  height: 80px;
  margin-bottom: 0;
}
.footer-text{
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: var(--orange);
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 5px;
}
#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  border-top: 10px solid var(--white);
  border-bottom: 10px solid var(--white);
  margin: 5em 0em 2em 0em;
}
#video-container video {
  max-width: 90%;
  max-height: 90%;
}

/* Start-Learning HTML */
#learnPage {
  background-color:var(--blue);
  padding-top: 120px;
}
#start-learning-main {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  /* padding: 1rem; */
  border: 20px double rgb(255, 145, 0);
}

@media screen and (min-width: 1024px) {
  #navbarBasic .navbar-start {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  .card {
    margin: 0 0.5%;
  }
  #catGif {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  #content-4 {
    margin-left: 10em;
    margin-right: 10em;    
    margin-bottom: 2%;
  }
  #content-5{
    margin-left: 20em;
    margin-right: 20em;    
    margin-bottom: 2%;
  }
  .navbar-menu, 
  .has-dropdown:hover,  
  #dropdown-trigger:hover {
    background-color: var(--yellow);
  }
  .navbar-item {
    font-size: 24px;
    background-color: var(--yellow);
  }
  .navbar-start a:hover{
    background-color: var(--yellow);
    color: var(--orange);
  }
  .navbar-item.has-dropdown.is-active .navbar-link, 
  .navbar-item.has-dropdown:focus .navbar-link, 
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--yellow);
  }

  #levelOne, #levelTwo{
    background-color: var(--white);
  }
  #levelOne:hover, #levelTwo:hover{
    color: var(--orange);
  }
  #dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
  }
}

@media screen and (min-device-width: 768px) {
  #navbarBasic .navbar-menu {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  .card {
    margin: 0 0.5%;
  }
  #catGif {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  .navbar-menu, 
  .has-dropdown:hover,  
  #dropdown-trigger:hover {
    background-color: var(--yellow);
  }
  .navbar-item {
    font-size: 24px;
    background-color: var(--yellow);
  }
  .navbar-start a:hover{
    background-color: var(--yellow);
    color: var(--orange);
  }
  .navbar-item.has-dropdown.is-active .navbar-link, 
  .navbar-item.has-dropdown:focus .navbar-link, 
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--yellow);
  }

  #levelOne, #levelTwo{
    background-color: var(--white);
  }
  #levelOne:hover, #levelTwo:hover{
    color: var(--orange);
  }
  #dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
  }
}