
#navbarParent {
    background-color:yellow;
  }
  
  #navBar {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color:yellow;
  }
  
  .navbar-item {
    color: orange;
    display: inline-block;
  }

  @media screen and (max-width: 768px) {
    #navBar{float: inline-start};
  }

* {
    box-sizing: border-box;
    background-color: green;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 100%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: inline-block;
  }

